snowflake_demo:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('DBT_ACCOUNT') }}"
      user: "{{ env_var('DBT_USER') }}"
      password: "{{ env_var('DBT_PASSWORD') }}"
      role: "{{ env_var('DBT_ROLE', 'SYSADMIN') }}"
      database: "{{ env_var('DBT_DATABASE', 'PLATFORM_DB') }}"
      warehouse: "{{ env_var('DBT_WAREHOUSE', 'COMPUTE_WH') }}"
      schema: "{{ env_var('DBT_SCHEMA', 'DV_RAW') }}"
      threads: 4
